@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;700;800;900&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
@layer components{
  .btn{
    @apply flex justify-between items-center border-0 bg-transparent py-2 px-4 cursor-pointer font-semibold rounded-md
  }
  .btn-red{
    @apply bg-red-600 hover:bg-gradient-to-b hover:from-red-500 hover:to-red-600
  }
  .overlay{
    @apply w-full h-full absolute top-0;
    background-image: linear-gradient(to top, rgba(0,0,0,0.8) 0,rgba(0,0,0,0.5) 60%,rgba(0,0,0,0.8) 100%);
  }
  .font-martel{
    font-family: 'Martel Sans', sans-serif;
  }
  .inputForm{
    @apply bg-[rgba(0,0,0,0.7)] p-2 text-lg border border-gray-500 rounded-md
  }
}

.laodingAnimation{
  animation : animateLeft .3s ease;
}
@keyframes animateLeft {
  0%{
    left: 100px;
  }
  100%{
    left: 0px;
  }
}